@model ProductDeatailsViewModel

@{
	ViewBag.Title = "Product Details";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<style>
	.availability-dot {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		margin-top: 10px;
	}

	.available {
		background-color: green;
	}

	.unavailable {
		background-color: red;
	}

	.pulse-animation {
		animation: pulsate 1s ease-out infinite;
	}
</style>

<div class="container">
	<h2>@Model.Name</h2>
	<div class="row">
		<div class="col-md-6">
			<img src="@Model.ImageUrl" alt="@Model.Name" class="img-fluid">
		</div>
		<div class="col-md-6">
			<p>@Model.Description</p>
			<h4>Price: @Model.Price</h4>
			<h4>Size: @Model.Size</h4>
			<div class="d-flex align-items-center">
				<div class="availability-dot mr-2 @((Model.Quantity == 0) ? "unavailable" : "available")"></div>
				<span class="ml-2" style="padding-left: 7px; padding-top: 11px;" @((Model != null) ? "" : "class=\"d-none\"")>Item is in stock</span>

			</div>
			<h4>Creator Details:</h4>
			<p>Email: @Model.Creator.Email</p>
			<p>Phone: @Model.Creator.PhoneNumber</p>
			<button class="btn btn-primary col-md-6">Add to Cart</button>
			<div class="row mt-4">
				<div class="col-md-6">
					<h4>
						<a href="#" class="toggle-text">Details</a>
					</h4>
					<div class="details-text" style="display: none;">
						<p>Soft and sustainable fabric on the outside & inside, so even the most sensitive pups can stay comfortable all day long</p>
						<p>Luxe classic gold metal hardware</p>
						<p>Adjustable collar length so you can get the perfect fit as your pup grows</p>
						<p>Sturdy D-ring for safe and easy leash attachment</p>
						<p>Easy cleaning and mix & matching with removable bow tie and flower.</p>
					</div>
				</div>
				<div class="col-md-6">
					<h4>
						<a href="#" class="toggle-text">Care</a>
					</h4>
					<div class="care-text" style="display: none;">
						<p>Cozy Fleece Vest: Machine wash cold on delicate cycle or hand wash. Air dry.</p>
						<p>Zoomies Rain Vest: Spot clean with water and soap. Air dry.</p>
						<p>Collar + Leash: Since our collars and leashes have metal on them, machine wash is not recommended. For best result - spot clean with water and soap. Air dry.</p>
						<p>Bow + Flower: To prevent the bow ties and flowers from losing their shape, we do not recommend machine wash. Instead, spot clean with water and soap. Air dry.</p>
						<p>Harness, Bandana, Poop Bag Holder: Machine wash cold on delicate cycle or hand wash. Air dry.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script>
		$(document).ready(function () {
			$('.availability-dot').addClass('pulse-animation');
		});
	</script>
	<script>
		$(document).ready(function () {
			$('.toggle-text').click(function (e) {
				e.preventDefault();
				$(this).closest('div').find('.details-text, .care-text').slideToggle();
			});
		});
	</script>
}
