@using PawAndCollarServices.Interfaces;
@model ICollection<ProductHomeViewModel>

@{
	ViewData["Title"] = "My Products";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="product-card-container">
	@if (Model.Count == 0)
	{
		<h2 class="text-center">No products found.</h2>
	}
	else
	{
		<div class="row">
			@foreach (var product in Model)
			{
				<div class="col-md-3">
					<div class="product">
						<img src="@product.ImageUrl" alt="@product.Name" width="300" height="300">
						<h4>@product.Name</h4>
						<p>By @product.CreatorName</p>
						<p>Size: @product.Size</p>
                        <p>Quantity: @product.Quantity</p>
						<p>Price: $@product.Price</p>
						<a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="btn btn-success">Details</a>
						<a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-primary">Edit</a>
						<a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
					</div>
				</div>
			}
		</div>
	}

</div>