@model ViewCartViewModel

<h2>My Cart</h2>

@if (Model.CartItems.Count == 0)
{
	<p>Your cart is empty.</p>
}
else
{
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Product</th>
				<th>Name</th>
				<th>Description</th>
				<th>Price</th>
				<th>Total</th>
				<th>Quantity</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.CartItems)
			{
				<tr>
					<td>
						<img src="@item.ImageUrl" alt="@item.Name" width="60" height="60" />
					</td>
					<td>@item.Name</td>
					<td>@item.Description</td>
					<td>@item.Price</td>
					<td>@item.TotalPrice</td>
					<td>
						<div class="quantity-container">
							<form method="post" asp-action="DecreaseQuantity" asp-controller="Cart">
								<input type="hidden" name="productId" value="@item.Id" />
								<button class="btn btn-primary" onclick="decreaseQuantity(@item.Id)">-</button>
							</form>
							<span class="quantity">@item.Quantity</span>
							<form method="post" asp-action="IncreaseQuantity" asp-controller="Cart">
								<input type="hidden" name="productId" value="@item.Id" />
								@*<input type="number" name="quantity" value="1" min="1" />*@
								<button class="btn btn-success" type="submit" onclick="increaseQuantity(@item.Id)">+</button>
							</form>
							<form method="post" asp-action="RemoveFromCart" asp-controller="Cart">
								<input type="hidden" name="productId" value="@item.Id" />
								<button class="btn btn-danger" type="submit" onclick="removeItem(@item.Id)">Remove</button>
							</form>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
}


