@using PawAndCollar.Data.Models.Enums;
@using PawAndCollar.Web.ViewModels.Creator;
@model AddProductViewModel

<h2>Add Product</h2>

@using (Html.BeginForm("Add", "Creator", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Price)
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Price)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Quantity)
        @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Quantity)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ImageUrl)
        @Html.TextBoxFor(m => m.ImageUrl, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ImageUrl)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CategoryId)
        @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "-- Select Category --", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CategoryId)
    </div>

    <div class="form-group">
    @Html.LabelFor(m => m.Size)
    @Html.DropDownListFor(m => m.Size, Model.SizeList, "-- Select Size --", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Size)
</div>


    <div class="form-group">
        @Html.LabelFor(m => m.Color)
        @Html.TextBoxFor(m => m.Color, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Color)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Material)
        @Html.TextBoxFor(m => m.Material, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Material)
    </div>

    <button type="submit" class="btn btn-primary">Add Product</button>
}

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}
